@{
    ViewBag.Title = "About";
}
<div>
<h2>My Work</h2>
<ul>
    <li><a href="https://github.com/fakefeik/webgl-playground">A Deferred graphics engine made from scratch</a></li>
    <li><a href="https://github.com/fakefeik/YobaScreensaver">A screensaver for Windows (can also run on Mac(!))</a></li>
    <li><a href="https://github.com/fakefeik/WeatherApp">First application for iOS</a></li>
    <li><a href="https://github.com/fakefeik/uLearn">What I did last summer</a></li>
</ul>

<h2>Contacts</h2>
<p>You can contact me through:</p>
<ul>
    <li><a href="mailto:feikfake1@gmail.com">E-Mail</a></li>
    <li><a href="https://vk.com/fakefeik">VK</a></li>
    <li><a href="https://twitter.com/fakefeik">Twitter</a></li>
</ul>